*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #212D59;

    margin-right: 97px;
}
span{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #212D59;
    opacity: 0.5;
}
a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;

    background: #2F2D2C;
    border-radius: 5px;

    padding: 18px 82px;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    
    color: #212D59;
}